<div class="statistics-container">
  <h2 class="title"><strong>{{ 'statisticsBook.statisticsTitle' | translate }} {{ publishedBook?.titulo }}</strong></h2>

  <!-- Gráfico de barras de lectores interesados -->
  <div class="interested-readers-chart-container">
    <canvas id="readersChart"></canvas>
  </div>

  <!-- Gráfico de lineas de compras y descargas (formatos fisico y digital) -->
  <div class="purchases-downloads-chart-container">
    <canvas id="purchasesAndDownloadsChart"></canvas>
  </div>
</div>

