<div class="published-book-info">
  <mat-form-field>
    <mat-label>{{ 'detailsPublishBook.title' | translate }}</mat-label>
    <input matInput [(ngModel)]="publishedBook.titulo" placeholder="{{ 'detailsPublishBook.titlePlaceHolder' | translate }}">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>{{ 'detailsPublishBook.author' | translate }}</mat-label>
    <input matInput [(ngModel)]="publishedBook.autor" placeholder="{{ 'detailsPublishBook.authorPlaceHolder' | translate }}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'detailsPublishBook.categories' | translate }}</mat-label>
    <mat-select [formControl]="categories" multiple>
      <mat-select-trigger>
        {{categories.value?.[0] || ''}}
        @if ((categories.value?.length || 0) > 1) {
          <span class="categories-selection">
          (+{{(categories.value?.length || 0) - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
        </span>
        }
      </mat-select-trigger>
      @for (categories of categoryList; track categories) {
        <mat-option [value]="categories">{{categories}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>{{ 'detailsPublishBook.description' | translate }}</mat-label>
    <textarea matInput [(ngModel)]="publishedBook.descripcion" placeholder="{{ 'detailsPublishBook.descriptionPlaceHolder' | translate }}"></textarea>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>{{ 'detailsPublishBook.cost' | translate }}</mat-label>
    <input matInput [(ngModel)]="publishedBook.precio" placeholder="{{ 'detailsPublishBook.costPlaceHolder' | translate }}">
  </mat-form-field>
  <br>

  <button class="save-button" (click)="sendPublishedBook()">{{ 'detailsPublishBook.saveButton' | translate }}</button>
</div>
